* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --linear-gradient: linear-gradient(120deg, #E75590, #00C2C8);
  --linear-gradient-button: linear-gradient(120deg, #E75590, #00C2C8, #E75590);
  --border-height: 1px;
}

main.login {
  min-height: 100vh;
  background: var(--linear-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}

  div.container {
    min-height: 400px;
    width: 300px;
    background: #fff;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    h1.title {
      color: #303030;
      margin-bottom: 32px;
    }

    form.formulario {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

      input.input {
        height: 48px;
        width: 100%;
        padding-left: 8px;
        border: unset;
        outline: none;
      }

      span.border {
        height: var(--border-height);
        width: 100%;
        margin-bottom: 16px;
        background: #CFCFCF;
        transition: .3s ease-in-out;
      }

      span.border::after {
        content: '';
        display: block;
        height: var(--border-height);
        width: 0;
        margin-bottom: 16px;
        background: var(--linear-gradient);
        transition: .3s ease-in-out;
      }

      input.input:focus + span.border::after {
        width: 100%;
      }

      button.submit {
        background: var(--linear-gradient-button);
        outline: none;
        height: 48px;
        width: 100%;
        background-size: 200%;
        border: unset;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
        transition: .5s ease-in-out;
        margin-bottom: 36px;
      }

      button.submit:hover {
        background-position: right;
      }

      a.reset_senha {
        font-size: 16px;
        text-decoration: none;
        color: #929292;
      }